<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un film</title>
</head>
<body>
    <form th:action="@{/movie/add}" th:object="${movieForm}" method="post">
        <p>
            <label>
                Titre
                <input type="text" th:field="*{title}">
            </label>
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </p>
        <p>
            <label>
                Genre
                <select th:field="*{genre}">

                    <option th:value="COMEDIE" th:text="Comédie"></option>

                    <option th:value="HORREUR" th:text="Horreur"></option>

                    <option th:value="THRILLER" th:text="Thriller"></option>

                    <option th:value="ACTION" th:text="Action"></option>

                    <option th:value="ROMANTIQUE" th:text="Romantique"></option>

                    <option th:value="DRAME" th:text="Drame"></option>

                    <option th:value="ANIMATION" th:text="Animation"></option>

                </select>
            </label>
        <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>
        </p>
        <p>
            <label>
                Firstname
                <input type="text" th:field="*{firstName}">
            </label>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </p>
        <p>
            <label>
                Lastname
                <input type="text" th:field="*{lastName}">
            </label>
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </p>

        <p>
            <label>
                Description
                <textarea th:field="*{description}"></textarea>
            </label>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </p>
        <p>
            <input type="submit" value="Ajouter">
        </p>
    </form>
</body>
</html>
